*{
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 500px;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 6px;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
    border-radius: 6px 6px 0 0 ;
}
main{
    background-color: lightgray;
    border-radius: 6px;
}

.post{
    margin-bottom: 30px;
    background-color: white;
}

.logo {
    width: 130px;
    margin-left: 10px;
}

.user-img,
.avatar{
    width: 32px;
    margin: auto 0px;
    margin-right: 10px;
    border-radius: 50%;
}

.post-header{
    margin-left: 8px;
    display: flex;
    padding-top: 15px;
}

.avatar-info span{
    display: block;
    font-size: 14px;
}

.avatar-name{
    font-size: 15px;
    font-weight: bolder;
}

.post-picture{
    width: 100%;
    margin-top: 15px;
}

.post-picture:hover{
    cursor: pointer;
}

.post-footer{
    margin:10px 0px 0px 10px;
    padding-bottom: 20px;
}

.icon{
    margin-bottom: 6px;
}

.icon1,
.icon2,
.icon3{
    width: 25px;
    padding: 3px;
}

.icon-active:hover,
.icon-active:focus{
    opacity: 60%;
}

.likes{
    font-size: 15px;
    font-weight: bold;
}

.comment{
    margin: 8px 0;
}

.username{
    font-weight: bold;
}